.container {
  margin-bottom: 50px;
}

.orange-bg {
  background-color: #fceae8;
  border-radius: 10px;
}
.carousel-item {
  padding: 20px 40px;
}
.price {
  color: #34ade6;
}
.buy-now-btn {
  background-image: linear-gradient(45deg, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  margin-top: 15px;
  cursor: pointer;
}
.cat-1 {
  background-image: linear-gradient(
    60deg,
    orange 0%,
    rgba(235, 110, 27, 0.945) 100%
  );
}
.cat-2 {
  background-image: linear-gradient(
    60deg,
    rgb(235, 164, 241) 0%,
    rgba(233, 55, 203, 0.945) 100%
  );
}
.cat-3 {
  background-image: linear-gradient(
    60deg,
    rgb(0, 153, 255) 0%,
    rgba(48, 75, 224, 0.87) 100%
  );
}
.cat-1,
.cat-2,
.cat-3 {
  padding: 10px 30px;
  border-radius: 10px;
}
.catagories h1 {
  color: white;
}
.catagories img {
  width: 100px;
  /* margin-left: 60px; */
}
.card-gap {
  margin: 20px;
}
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
.card-footer {
  border-top: none;
  background-color: white;
}
#subscribe {
  height: 300px;
}
